<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="styles/styles.css" rel="stylesheet" />
   
    <title>The Weather Web</title>
  </head>
  <body>
    <header><a id="head-text"href="/">THE WEATHER WEB</a></header>
    <div class="main-content">
      <p><%=initialMessage%>.<br>Type in a city to check the city's current weather.</p>

      <form method="post" action="/">
        <label for="cityInput">City Name: </label>
        <input autocomplete="off" id="cityInput" type="text" name="cityName" />
        <button type="submit">Go</button>
      </form>
    </div>
  </body>
</html>
